.markdown-body>div:hover{
    /* background-color: #7f7f7f; */
}
.markdown-body>div{
    margin-top:6px;
}
.img_box{
    /* background-color: #f8f8f8; */
    line-height:30px;
    text-align:center;
    margin-top:15px;
    
    transition: all .1s;
    font-size:14px;
    border: 2px solid #c8c8c8;
    box-shadow: 0px 0px 6px 0px #b8b8b8 ;
}

.img_box:nth-child(){
}

.img_box:hover{
    /* font-size: 16px; */
    /* color: #777777; */
    font-weight: bold;
    box-shadow: 0px 0px 10px 3px #b8b8b8 ;
    border: 2px solid #c8c8c8;
    /* border-radius: 10px 10px 0 0; */
}
.img_box img{
    object-fit:contain;
}

.img_box a{
    color:#999999;
    font-family: "楷书";
}
.img_box a:hover{
    color:#999999;
}
