.img_box{
     /* background-color: #f8f8f8;  */
    line-height:30px;
    text-align:center;
    margin-top:15px;
    padding-bottom: 15px;
    
    transition: all .15s;
    font-size:14px;
    border: 1px solid #404040;
    box-shadow: 0px 0px 6px 0px #484848 ;
}

.img_box:hover{
    /* font-size: 16px; */
    /* color: #777777; */
    font-weight: bold;
    box-shadow: 0px 0px 7px 3px #484848 ;
    border: 1px solid #404040;
    border-radius: 15px ;
}
.img_box img{
    object-fit:contain;
    max-height:600px;
}

.img_box a{
    color:#aaaaaa;
    font-family: "楷书";
}
.img_box a:hover{
    color:#aaaaaa;
}

.img_box span{
    display:inline-block;
} 