.img_box{
    background-color: #fbfbfb;
    line-height:30px;
    text-align:center;
    margin-top:15px;
    padding-bottom: 15px;
    
    transition: all .15s;
    font-size:14px;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 0px 6px 0px #c8c8c8 ;
}

.img_box:hover{
    /* font-size: 16px; */
    /* color: #777777; */
    font-weight: bold;
    box-shadow: 0px 0px 7px 3px #c8c8c8 ;
    border: 1px solid #c0c0c0;
    border-radius: 15px ;
}
.img_box img{
    object-fit:contain;
    max-height:500px;
}

.img_box a{
    color:#999999;
    font-family: "楷书";
}
.img_box a:hover{
    color:#999999;
}

.img_box span{
    display:inline-block;
}