/* build time:Thu Aug 29 2024 16:30:15 GMT+0800 (中国标准时间)*/
.salient{padding-top:3px;padding-bottom:3px;padding-left:2px;padding-right:1px}.salient:hover{background-color:#3a4a5a;border:1px solid #454d68;box-shadow:0 0 10px 3px #454d58;padding-top:2px;padding-bottom:2px;padding-left:1px;padding-right:0}
/* rebuild by neat */