.salient{
    padding-top:1px;
    padding-bottom:1px;
    padding-left:2px;
}

.salient:hover{
    background-color:#3a4a5a;
    border: 1px solid #454d68;
    box-shadow: 0px 0px 10px 1px #454d58;
    padding-top:1px;
    padding-bottom:1px;
}